<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Personal-Notes
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <header>

        <div class="topnav" id="myTopnav">
            <a href="/" class="active">
                Personal-Notes
            </a>
            <a href="#imp" class="extra">Important</a>
            <a href="/about" class="extra">About</a>
            <a href="javascript:void(0);" class="icon extra" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <br>
    <div style="margin-top: 7%; text-align: center; font-size: 1.2rem;">
        <h1>Sorry U landed on the wrong Page!</h1>
    </div>


</body>

</html>