<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Personal-Notes
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <header>

        <div class="topnav" id="myTopnav">
            <a href="/" class="active">
                Personal-Notes
            </a>
            <a href="#imp" class="extra">Important</a>
            <a href="/about" class="extra">About</a>
            <a href="javascript:void(0);" class="icon extra" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <br>
    <div style="margin-top: 7%; text-align: center; font-size: 1.2rem;">
        <h1>ToDo App</h1>
        <p style="text-align: justify; width: 80%; margin-left: 10%;">It's a basic todo application that let user to create its daily task remainder. Now you can create your daily remainder with this web application and never forget to complete your task on time :)</p>
        <br>
        <div>
            <h2>For website related Issues:</h2>
            <p>Contact : abc@gmail.com</p>
        </div>
    </div>


</body>